extends layout

block content
  #wrapper(align='center')
    input#result(type='text')
    br
    input#request(type='button', value='Request')

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='/javascripts/main.js')


